// Place all the styles related to the games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.letter {
  padding: 5px;
  margin: 5px;
  background-color: #3398DB;
  color: white;
  box-shadow: 0 6px 5px -5px #ccc;
  font-weight: bold;
  width: 10px;
  border: 1px solid #226791;
  border-radius: 5px;
}

.letters {
  margin: 30px 0;
}
